@charset "UTF-8";
/* 这是sass 的注释*/
#main p {
  color: #00ff00;
  width: 97%;
}

#main p .redbox {
  background-color: #ff0000;
  color: #000000;
  width: 10px;
  height: 100px;
}

#main {
  width: 5em;
  height: 100px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body.firefox a {
  font-weight: normal;
}

.funky {
  font-family: fantasy;
  font-size: 30em;
  font-weight: bold;
}

.funky {
  font: 20px/24px;
  font-family: fantasy;
  font-weight: bold;
}

.nav {
  border: 1px solid #000;
  border-left: 0;
  border-right: 0;
}

/*
强制注释
*/
#main {
  width: 5em;
}

#sidebar {
  width: 5em;
}

#sidebar1 {
  width: 5em;
  height: 4px;
}

.box {
  content: lanlingwang;
  content: 2;
  content: true;
  content: false;
  content: "foo", "bar";
  content: 1, 2;
}

.box {
  content: 20%;
}

body.firefox .header:before {
  content: "Hi, Firefox users!";
}

p {
  cursor: e-resize;
}

p:before {
  content: "Foo Bar";
  font-family: sans-serif;
}

p:before {
  content: "I ate 15 pies!";
}

p:before {
  content: "I ate  pies!";
}

.p1 {
  font: 0.4;
}

.p2 {
  font: 12px/30px;
}

#main {
  content: "First content";
  content: "First time reference";
}

#main1 {
  content: "First content";
  content: "First time reference";
}

#main2 {
  content: "First content";
  content: "First time reference";
}

.sidebar {
  width: 300px;
}

@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}

@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}

.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd;
}

.seriousError {
  border-width: 3px;
}

.box {
  color: #00ff00;
  background-color: #fcf;
}

.warning {
  color: red;
  background-color: blue;
}

.warning a {
  color: #cc0000;
}

.warning-info {
  color: green;
  background-color: yellow;
}

.warning-info a {
  color: #004d00;
}

p {
  border: 1px solid;
}

p {
  color: green;
}

.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

.item-3 {
  width: 6em;
}

.puma-icon {
  background-image: url("/images/puma.png");
}

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
}

.egret-icon {
  background-image: url("/images/egret.png");
}

.salamander-icon {
  background-image: url("/images/salamander.png");
}

.puma-icon {
  background-image: url("/images/puma.png");
  border: 2px solid black;
  cursor: default;
}

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
  border: 2px solid blue;
  cursor: pointer;
}

.egret-icon {
  background-image: url("/images/egret.png");
  border: 2px solid white;
  cursor: move;
}

.item-6 {
  width: 12em;
}

.item-4 {
  width: 8em;
}

.item-2 {
  width: 4em;
}

#sidebar {
  width: 240px;
}

.parent {
  width: 100px;
}

.child {
  height: 100px;
}

@media print {
  .error1, .seriousError {
    border: 1px #f00;
    background-color: #fdd;
  }
  .seriousError {
    border-width: 3px;
  }
}
