/* 这是sass 的注释*/

#main p {
    color: #00ff00;
    width: 97%;
    .redbox {
        background-color: #ff0000;
        color: #000000;
        width: 10px;
        height: 100px;
    }
}

$width: 5em;
#main {
    width: $width;
}