.router-link-active{
    background: red;
}

.lishuang-active{
     background: green;
}

.active{
    background: red;
}
/* .is-active{
    background: #ccc
} */
body {
  font-family: 'Microsoft YaHei', sans-serif;
}

.navbar-default {
  background-color: #fff;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25);
}

.navbar-default .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: skyblue;
  line-height: 35px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  height: 70px;
  line-height: 35px;
}

